* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
}

.header h1 {
    display: inline-block;
    background-size: 50px 50px;
    font-size: 48px;
    color: #7C898D;
}

.header h1 .jk {
    color: green;
}

.header menu {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header menu ul {
    list-style-type: none;
}

.header menu ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

.hero {
    height: 100%;
    width: 100%;
    margin-bottom: -1px;
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    display: inline-block;
}

.about_me, .contact_me {
    height: 300px;
    width: 100%;
    background-color:#ecf2f9;
}

.work {
    margin-bottom: 0px;
    padding: 10px;
    height: 1375px;
    background-color: #d9e6f2;
}

.resume {
    margin-bottom: 0px;
    padding: 10px;
    height: 300px;
    background-color: #d9e6f2;
}

.about_me h2 {
    position: relative;
    top: 90px;
    left: -205px;
    /* transform: translateX(-1px); */
    font-size: 35px;
    color: #7C898D;
}

.work h2 {
    position: relative;
    top: 90px;
    left: -175px;
    font-size: 35px;
    color: #7C898D;
}

.contact_me h2 {
    position: relative;
    top: 90px;
    left: -220px;
    font-size: 35px;
    color: #7C898D;
}

.resume h2 {
    position: relative;
    top: 90px;
    left: -190px;
    font-size: 35px;
    color: #7C898D;
}

.about_me h2 .diff_color {
    color: green;
}

.work h2 .diff_color {
    color: green;
}
/*---------------------------------*/
.stock_column {
    width: 1850px;
    height: 600px;
}

.stock1_position {
    width: 1550px;
    height: 550px;
    border: 10px solid chartreuse;
}

a:hover{
    box-shadow: inset 0px 0px 8px navajowhite, 0 0 15px navajowhite;
    }

.stock2_position {
    position: relative;
    bottom: 35px;
    left: 280px;
    width: 420px;
    height: 350px;
    border: 10px solid chartreuse;
}

.stock3_position {
    position: relative;
    bottom: 635px;
    left: 715px;
    width: 520px;
    height: 350px;
    border: 10px solid chartreuse;
}

.stock4_position {
    position: relative;
    bottom: 1235px;
    left: 1250px;
    width: 580px;
    height: 350px;
    border: 10px solid chartreuse;
}

.stock5_position {
    position: relative;
    bottom: 1470px;
    left: 280px;
    width: 520px;
    height: 350px;
    border: 10px solid chartreuse;
}

.stock6_position {
    position: relative;
    bottom: 2070px;
    left: 815px;
    width: 520px;
    height: 350px;
    border: 10px solid chartreuse;
}

.stock7_position {
    position: relative;
    bottom: 2670px;
    left: 1350px;
    width: 480px;
    height: 350px;
    border: 10px solid chartreuse;
}

/*---------------------------------*/
.contact_me h2 .diff_color {
    color: green;
}

.resume h2 .diff_color {
    color: green;
}

.content-card1 img, .content-card2 img, .content-card3 img {
    max-height: 200px;
}

.content-card1 h2, .content-card2 h2, .content-card3 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits-card {
    margin-bottom: 32px;
}

.benefits-card img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits-card h3 {
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 16px;
    padding-bottom: 32px;
}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
}

.footer h2 {
    font-size: 20px;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }